[submodule "Assets/UnityExtras"]
	path = Assets/UnityExtras
	url = https://github.com/jackmw94/UnityExtras.git
[submodule "Assets/UnityCommonFeatures"]
	path = Assets/UnityCommonFeatures
	url = https://github.com/jackmw94/UnityCommonFeatures.git
